[submodule ".registry"]
	path = .registry
	url = https://github.com/lucarraro/universe
	shallow = true
	branch = HEAD
[submodule "traudem"]
	path = traudem
	url = https://github.com/lucarraro/traudem
	shallow = true
	registered = true
